@page "/educate/course/manager/lesson/{Id}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

<section class="p-4">
  @if (current != null)
  {
    <div class="card p-5">
      <ul class="columns is-multiline is-variable is-2 mb-3">
        <li class="column">
          @if (current.type == 1)
          {
            <h1 class="title is-5 has-text-info">
              CHI TIẾT BÀI GIẢNG
            </h1>
          }
          else if (current.type == 2)
          {
            <h1 class="title is-5 has-text-info">
              CHI TIẾT BÀI TỰ LUẬN
            </h1>
          }
          else if (current.type == 3)
          {
            <h1 class="title is-5 has-text-info">
              CHI TIẾT BÀI TRẮC NGHIỆM
            </h1>
          }
        </li>
        <li class="column is-narrow">
          <a class="button is-link is-outlined" @onclick="GoBack">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">arrow_back</i>
            </span>
            <span>Trở lại</span>
          </a>
        </li>
      </ul>
      @if (current.type == 1)
      {
        <LessonContent lesson="current" />
      }
      else if (current.type == 2)
      {
        <LessoneEssay lesson="current" />
      }
      else if (current.type == 3)
      {
        <LessonQuiz lesson="current" />
      }
    </div>
  }
  else
  {
    <div class="card p-5">
      <h1 class="title is-5 has-text-info is-uppercase">
        @_title
      </h1>
      <div class="py-6 has-text-grey">
        Dữ liệu không tồn tại hoặc đã bị xóa !
      </div>
    </div>
  }
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  [Parameter]
  public string Id { get; set; }

  private string _title = "Chỉnh sửa bài học";

  private EducateLessonModel current = null;

  protected override async Task OnInitializedAsync()
  {
    current = await DbEducateLesson.Get(Layout.Company.id, Id);
  }

  private async Task GoBack()
  {
    if (string.IsNullOrEmpty(current.name))
      await DbEducateLesson.Delete(Layout.Company.id, current.id);
    navigation.NavigateTo("/educate/course/manager/info/" + current.course, false);
  }
}