@page "/blogs/{Id}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

<section class="p-4 @(_loaded ? "" : "is-loading")">
  <div class="card p-5">
    @if (current != null)
    {
      <h1 class="title is-5 has-text-info">
        @current.name
      </h1>
      <div class="content">
        @((MarkupString)current.content)
      </div>
    }
    else
    {
      <h1 class="title is-5 has-text-info">
        KHÔNG TÌM THẤY NỘI DUNG
      </h1>
    }
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  [Parameter]
  public string Id { get; set; }

  private bool _loaded = false;
  private string _title = "Tin tức";

  private BlogModel current = null;

  protected override async Task OnInitializedAsync()
  {
    current = await DbBlog.Get(Layout.Company.id, Id);
    _title = current != null ? current.name : "Không tìm thấy trang!";

    _loaded = true;
  }
}