.dropdown-menu {
  width: 190px;
}
.column.is-narrow {
  width: calc(100% / 7) !important;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}
.column.is-narrow:hover {
  background: #ccc;
}
.column.is-narrow.is-active {
  background: #485fc7;
  color: #fff;
}
.field {
  align-items: center;
}
.control:not(:last-child) {
  margin-right: 5px !important;
}
select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
}
