@page "/reports/cfrs"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

<section class="columns is-gapless has_menu_left">
  <div class="column is-narrow">
    <_MenuLeft Company="Layout.Company" User="Layout.User" />
  </div>
  <div class="column">
    <div class="tabs_white is_radius mb-4">
      <a class="button is-size-5 has-text-weight-semibold has-text-@(tab == 1 ? "link is_bg" : "grey is-white")"
          @onclick="() => tab = 1">
        CHECK-IN OKRs
      </a>
      <a class="button is-size-5 has-text-weight-semibold has-text-@(tab == 2 ? "link is_bg" : "grey is-white")"
          @onclick="() => tab = 2">
        GHI NHẬN - TẶNG SAO
      </a>
    </div>

    @if(tab == 1)
    {
      <CFRsCheckin departmentAll="departmentAll" departments="departments" />
      <CFRsHistory departmentAll="departmentAll" departments="departments" />
    }
    else
    {
      <CFRsStar departmentAll="departmentAll" departments="departments" type="2" />
      <CFRsStar departmentAll="departmentAll" departments="departments" type="3" />
    }
    
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  private string _title = "Thống kê CFRs";

  private List<DepartmentModel> departmentAll = new();
  private List<DepartmentModel.SelectList> departments = new();
  private int tab = 1;

  protected override void OnInitialized()
  {
    departmentAll = DbDepartment.GetAll(Layout.Company.id);
    departments.AddRange(DbDepartment.GetSelectList(Layout.Company.id, null, 0, null));
  }
}