@page "/reports/work"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>Thống kê Kế hoạch</PageTitle>

<section class="columns is-gapless has_menu_left">
  <div class="column is-narrow">
    <_MenuLeft Company="Layout.Company" User="Layout.User" />
  </div>
  <div class="column">
    
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  protected override async Task OnInitializedAsync()
  {
    
  }
}